# 2019 Sales Analysis

### Module / Library Imports

In [2]:
import os
import pandas as pd

### Collecting and Merging Data

In [38]:
sales_df = pd.DataFrame()
dfs = []
path ='./Sales_Data'
files = os.listdir(path)

In [39]:
for file in files:
    df = pd.read_csv(f'{path}/{file}')
    dfs.append(df)

In [42]:
sales_df = sales_df.append(dfs)

In [150]:
sales_df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

### Saving Sales Year as CSV

In [94]:
output_path = "./Output/"
output_file = 'sales_year.csv'
sales_df.to_csv(f'{output_path}{output_file}', index=None)

### Reading Back Sales Year
*Note: This allows us to access the entire Sales Year without needing to read all the Month Sales files*

In [102]:
sales_year_df = pd.read_csv(f'{output_path}{output_file}')

In [151]:
sales_year_df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Period,Total
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04,23.90
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04,99.99
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04,600.00
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04,11.99
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",04,11.99

### Question 1: What was the best month for sales? How much was earned that month?
Before we can answer this, it is impertive to santize the dataframe so that the data being transformed can be put to immediate use.

### Sanitation

#### Drop NaN

In [104]:
sales_year_df.dropna(how='all', inplace=True)

#### Drop Duplicate Header Rows

In [134]:
sales_year_df = sales_year_df.loc[sales_year_df['Order ID'].str[0] != 'O']

### Isolating Periods
To find the months (period) that had the best sales, we need to isolate them in a seperate column as well as calculate the total of the order. We can then follow this up with a groupby function to get an aggregate.

In [135]:
sales_year_df['Period'] = sales_year_df['Order Date'].str[0:2]

In [152]:
sales_year_df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Period,Total
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04,23.90
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04,99.99
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04,600.00
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04,11.99
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",04,11.99

### Transformation
The Quanity and Price Each are being read in as strings, so it is neccessary to tranform the columns into numbers.
*Note: More Sanitation Needed Before Proceeding*

In [141]:
sales_year_df[['Quantity Ordered','Price Each']] = sales_year_df[['Quantity Ordered','Price Each']].apply(pd.to_numeric)

In [142]:
sales_year_df['Total'] = sales_year_df['Quantity Ordered']*sales_year_df['Price Each']

In [153]:
sales_year_df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Period,Total
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04,23.90
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04,99.99
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04,600.00
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04,11.99
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",04,11.99

### Transformation Verification

In [149]:
sales_year_df.iloc[0]['Total'] == sales_year_df.iloc[0]['Quantity Ordered'] * sales_year_df.iloc[0]['Price Each']

True

In [ ]:
period_analysis = sales_year_df[['Period', 'Product', ]]